// Colors
$light-pink: #ffebf2;
$light-teal: #a3e8d6;
$light-blue-grey: #e0c5ec;
$light-yellow: #fcfa96;
$dark-pink: #f650a0;
$linkColor: #000;
$ligth-blue-gray-two: #bec8e2;
$white-two: #d8d8d8;
$copyrights: #656565;

// Breakpoints
$xlargeup: 1200px;
$xlargedown: 1199px;

$largeup: 992px;
$largedown: 991px;

$smallup: 768px;
$smalldown: 767px;

$smallerup: 576px;
$smallerdown: 575px;

// Extend
%bgImage {
    &:before {
        content: '';
        background-image: url("../images/path-9-copy-2.png");
        background-repeat: no-repeat;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
}

%mainBtn {
    display: block;
    background-color: $dark-pink;
    border: 1px solid $dark-pink;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-family: Secular One,sans-serif;
    font-size: 14px;
    margin: 0;
    max-width: 100%;
    padding: 5px 5px 3px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    width: 155px;
}

// Boilerplate
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;

    &.no-scroll {
        overflow: hidden;
    }
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

button, h1, h2, h3, h4, h5, h6, ol, p, span, ul {
    font-size: calc(var(--min-font-px) + (var(--max-font) - var(--min-font))*(100vw - 320px)/1600);
    line-height: 1.4;
}

dl, h1, h2, h3, h4, h5, h6, ol, p, ul {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    --min-font-px: 35px;
    --min-font: 35;
    --max-font: 55;
    color: #000;
}

h2, h3 {
    color: #000;
    font-family: 'Secular One', sans-serif;
}

p, span {
    --min-font-px: 13px;
    --min-font: 13;
    --max-font: 16;
}

iframe, img, svg {
    max-width: 100%;
    height: auto;
}

.st-container {
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: $smallerup) {
        max-width: 540px;
    }
    @media screen and (min-width: $smallup) {
        max-width: 720px;
    }
    @media screen and (min-width: $largeup) {
        max-width: 960px;
    }
    @media screen and (min-width: $xlargeup) {
        max-width: 1156px;
    }
}

/********* HEADER *********/
header {
    background-color: $light-pink;
    position: sticky;
    top: 0;
    z-index: 1022;

    .st-container {
        .st-navbar {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            --link-color: $black;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            @media screen and (max-width: $smallerdown) {
                margin-left: 0;
                margin-right: 0;
            }
            @media screen and (max-width: $largedown) {
                padding: 15px 0;
            }
            // Site logo
            .st-logo-container {
                @media screen and (max-width: $largedown) {
                    justify-content: center;
                    display: flex;
                }
                .st-logo {
                    img {
                        width: 128px;
                        height: 35px;
                    }
                }
            }

            // Menu toggle button on mobile
            .st-toggler--navbar-btn {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 25px;
                cursor: pointer;
                transition: all .5s ease-in-out;
                .st-toggler-navbar-btn-burger {
                    position: absolute;
                    width: 25px;
                    height: 2px;
                    background-color: $dark-pink;
                    box-shadow: 0 2px 5px rgba(255,101,47,.2);
                    transition: all .5s ease-in-out;
                    &:after,
                    &:before {
                        content: '';
                        position: absolute;
                        width: 25px;
                        height: 2px;
                        background-color: $dark-pink;
                        box-shadow: 0 2px 5px rgba(255,101,47,.2);
                        transition: all .5s ease-in-out;
                    }

                    &:before {
                        transform: translateY(-8px);
                    }
                    &:after {
                        transform: translateY(8px);
                    }
                }

                // ** animation
                &.open {
                    .st-toggler-navbar-btn-burger {
                        transform: translateX(-25px);
                        background-color: transparent;
                        box-shadow: none;
                        &:before {
                            transform: rotate(45deg) translate(18px, -18px);
                        }
                        &:after {
                            transform: rotate(-45deg) translate(18px, 18px);
                        }
                    }
                }
            }
            .st-toggler-note {
                font-size: 10px;
                color: $dark-pink;
                display: block;
                font-family: 'Varela Round', sans-serif;         
                font-weight: bold;
            }

            // Navigation 
            .st-navbar-container {
                @media screen and (max-width: $largedown) {
                    height: 0;
                    position: relative;
                    z-index: 1000;
                    background: #ffebf2;
                    -webkit-transform: scaleY(0);
                    transform: scaleY(0);
                    -webkit-transform-origin: top center;
                    -o-transform-origin: top center;
                    transform-origin: top center;
                    -webkit-transition: -webkit-transform .25s ease;
                    transition: -webkit-transform .25s ease;
                    -o-transition: .25s -o-transform ease;
                    transition: transform .25s ease;
                    transition: transform .25s ease,-webkit-transform .25s ease,-o-transform .25s ease;
                }
                overflow-y: auto;
                ul.st-navbar-list {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    -ms-flex-flow: row wrap;
                    flex-flow: row wrap;
                    padding: 0;
                    margin-bottom: 0;
                    list-style: none;
                    justify-content: center;
                    @media screen and (max-width: $largedown) {
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                        -ms-flex-flow: row wrap;
                        flex-flow: row wrap;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        padding: 30px 0;
                    }
                    
                    li.st-menu-item {
                        &.st-menu-item-has-children {
                            @media screen and (max-width: $largedown) {
                                position: relative;

                                &:before,
                                &:after {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                }
                                &:after {
                                    top: 20px;
                                    right: 10px;
                                    width: 15px;
                                    height: 15px;
                                    border-right: 3px solid #000;
                                    border-bottom: 3px solid #000;
                                    -webkit-transform: rotate(-45deg);
                                    -o-transform: rotate(-45deg);
                                    transform: rotate(-45deg);
                                }
                            }
                        }
                        a {
                            display: block;
                            padding: 24px 12px;
                            text-transform: uppercase;
                            color: $linkColor;
                            font-size: 15px;
                            text-decoration: none;
                            font-weight: bold;
                        }
                    }

                    & > li.st-menu-item {
                        @media screen and (max-width: $largedown) {
                            padding: 0;
                            width: 100%;
                            & > a {
                                border-bottom: 1px dashed #f5b7d5;
                                font-size: 22px;
                                padding: 10px 0;
                                max-width: calc(100% - 40px);
                            }
                        }
                    }
                }

                // ** animation
                &.show {
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                    height: calc(100vh - 50px);
                    padding-bottom: 150px;
                }
            }

            

            // Language & Cart
            .st-navbar-right {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                // language
                .st-lang {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    li {
                        font-weight: bold;
                        a {
                            font-family: 'Secular One', sans-serif;
                            font-size: 14px;
                            color: $linkColor;
                            font-weight: bold;
                            &.active {
                                color: $dark-pink;
                            }
                        }
                    }
                }
                // cart
                .st-cart-item {
                    cursor: pointer;
                    margin-left: 20px;
                    text-decoration: none;
                    @media screen and (min-width: $largeup) {
                        display: flex;
                        align-items: start;
                    }
                    img {

                    }
                    .st-cart-count {
                        font-family: 'Secular One', sans-serif;
                        font-size: 14px;
                        color: $dark-pink;
                        font-weight: bold;
                        line-height: 1.4;
                        @media screen and (min-width: $largeup) {
                            display: block;
                            margin-left: 5px;
                        }
                    }
                    .st-cart-note {
                        font-size: 10px;
                        font-weight: bold;
                        color: #000;
                    }
                }
            }
        }

    }
}

/********* MAIN CONTENT *********/
main {
    // LOCATIONS
    .st-locations {
        @extend %bgImage;
        @media screen and (min-width: $xlargeup) {
            &:before {
                background-size: 100%;
            }
        }
        // Page header
        .st-page-header {
            padding-top: 80px;
            h1 {
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: -1px;
                margin-bottom: 4px;
            }
            p {
                max-width: 768px;
                font-family: 'Varela Round', sans-serif;
                color: #000;
            }
        }

        // Breadcrumbs
        .st-breadcrumbs {
            margin-top: 40px;
            span {
                color: $ligth-blue-gray-two;
                font-size: 12px;
                font-family: 'Varela Round', sans-serif;
                a {
                    color: $ligth-blue-gray-two;
                }
                .st-breadcrumb-last {
                    color: #000;
                }
            }
        }

        // Locations
        .st-locations {
            font-family: 'Varela Round', sans-serif; 
            margin-top: 40px;
            .st-location-item {
                box-shadow: rgba(0, 35, 64, 0.2) 0px 1px 9px 0px;
                background-color: rgb(255, 255, 255);
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -webkit-box-pack: justify;
                justify-content: space-between;
                margin-bottom: 45px;
                flex-flow: row wrap;
                padding: 0;
                margin: 0 15px;
                flex: 0 0 calc(100% - 30px);
                margin-bottom: 45px;
                @media screen and (max-width: $smallerdown) {
                    padding: 20px;
                }
                .st-location-info {
                    -webkit-box-flex: 0;
                    max-width: 550px;
                    flex: 0 0 550px;
                    padding: 35px 42px;
                    @media screen and (max-width: $largedown) {
                        -webkit-box-flex: 0;
                        max-width: 100%;
                        flex: 0 0 100%;
                        padding: 20px;
                    }

                    // title
                    h2 {
                        padding-bottom: 8px;
                        border-bottom: 1px solid #e7e7e7;
                        margin-bottom: 16px;
                        --min-font-px: 18px;
                        --min-font: 18;
                        --max-font: 22;
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 100%;
                        flex: 0 0 100%;
                        max-width: 100%;
                        letter-spacing: 0.07px;
                        font-size: 22px;
                        img {

                        }
                    }

                    .st-info {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                        -ms-flex-flow: row wrap;
                        flex-flow: row wrap;
                        margin: 0 -4px;
                        
                        ul {
                            list-style: none;
                            padding: 0 4px;
                            -webkit-box-flex: 0;
                            -ms-flex: 0 0 50%;
                            flex: 0 0 50%;
                            max-width: 50%;
                            @media screen and (max-width: $smallerdown) {
                                -webkit-box-flex: 0;
                                max-width: 100%;
                                flex: 0 0 100%;
                            }
                            .st-title {
                                font-family: 'Secular One', sans-serif;
                                font-size: 14px;
                                color: #000;
                                display: block;
                                margin-bottom: 8px;
                            }
                            // contact
                            &.st-contact-info {
                                margin-bottom: 0;
                                .st-title {

                                }
                                li {
                                    font-size: 14px;
                                    color: #000;
                                    a {
                                        color: $linkColor;
                                        text-decoration: underline;
                                    }
                                    &.st-work-hour {
                                        margin-top: 16px;
                                    }
                                }
                            }

                            // categories
                            &.st-categories {
                                .st-title {

                                }
                                li {
                                    display: inline-block;
                                    a.st-tag {
                                        font-family: 'Secular One', sans-serif;
                                        font-size: 13px;
                                        color: rgb(0, 0, 0);
                                        text-transform: uppercase;
                                        display: inline-block;
                                        border-radius: 3px;
                                        padding: 3px 6px 1px 7px;
                                        text-decoration: none;
                                        margin: 0px 9px 9px 0px;

                                        &.st-pink {
                                            background-color: $light-pink;
                                        }
                                        &.st-green {
                                            background-color: $light-teal;
                                        }
                                        &.st-purple {
                                            background-color: $light-blue-grey;
                                        }
                                        &.st-yellow {
                                            background-color: $light-yellow;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    // ordering 
                    .st-ordering {
                        position: relative;
                        text-align: right;
                        margin: 14px 0px 22px;
                        &:before {
                            content: "";
                            position: absolute;
                            left: 0px;
                            right: 0px;
                            top: 13px;
                            border-top: 1px dashed rgb(221, 221, 221);
                        }
                        .st-text {
                            font-size: 11px;
                            line-height: 1.64;
                            background-color: rgb(255, 255, 255);
                            color: rgb(153, 153, 153);
                            display: inline-block;
                            z-index: 9;
                            padding-left: 2px;
                            position: relative;
                        }
                    }

                    // gallery
                    .st-gallery {
                        display: flex;
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                        flex-flow: row wrap;
                        margin: 0px -8px;
                        list-style-type: none;
                        padding: 0;
                        .st-gallery-item {
                            -webkit-box-flex: 0;
                            max-width: 25%;
                            flex: 0 0 25%;
                            padding: 4px;
                            img {

                            }
                        }
                    }
                }

                // *MAP*
                .st-map {
                    -webkit-box-flex: 0;
                    max-width: 425px;
                    flex: 0 0 425px;
                    position: relative;
                    height: 425px;
                    height: auto;
                    @media screen and (min-width: $largeup) and (max-width: $xlargedown) {
                        flex: 0 0 394px;
                    }
                    @media screen and (max-width: $largedown) {
                        -webkit-box-flex: 0;
                        max-width: 100%;
                        flex: 0 0 100%;
                        height: 250px;
                    }
                    iframe {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0px;
                        left: 0px;
                        border: none;
                    }
                }
            }
        }

    }

    // SOON SECTION
    .st-new-local {
        position: relative;
        margin-top: 60px;
        // margin-bottom: 60px;
        &:before {
            content: "";
            position: absolute;
            top: 50px;
            right: 0;
            display: block;
            width: 1080px;
            max-width: 100%;
            height: 365px;
            -webkit-transform: rotate(-4deg);
            -o-transform: rotate(-4deg);
            transform: rotate(-4deg);
            -webkit-box-shadow: 0 1px 9px 0 rgb(0 35 64 / 20%);
            box-shadow: 0 1px 9px 0 rgb(0 35 64 / 20%);
            background-color: #f650a0;
            z-index: -1;
        }
        @media screen and (min-width: $smallerup) {
            max-width: 540px;
        }
        @media screen and (min-width: $smallup) {
            max-width: 720px;
        }
        @media screen and (min-width: $largeup) {
            max-width: 960px;
        }
        @media screen and (min-width: $xlargeup) {
            max-width: 1156px;
        }
        .st-left-image,
        .st-right-image,
        .st-text-column {
            min-height: 485px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
        }

        .st-left-image {
            img {
                height: fit-content;
            }
        }
        .st-right-image {
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: flex-end;
        }
        .st-text-column {
            -ms-flex-line-pack: center;
            align-content: center;
            padding-bottom: 50px;
            @media screen and (max-width: $largedown) {
                padding-left: 8px;
                padding-right: 8px;
            }
            .st-title {
                --min-font-px: 30px;
                --min-font: 30;
                --max-font: 45;
                color: #fff;
                margin-bottom: 20px;
                letter-spacing: .15px;
                font-family: 'Secular One', sans-serif;
                @media screen and (max-width: $largedown) {
                    text-align: center;
                    margin: 0 40px;
                    padding-right: 6px;
                    padding-left: 6px;
                }
            }
        }
    }

    // FRANCHISE
    .st-franchise {
        position: relative;
        height: 370px;
        display: flex;
        justify-content: center;
        align-items: center;
        @extend %bgImage;
        @media screen and (min-width: $xlargeup) {
            &:before {
                background-size: 100%;
            }
        }
        h2 {
            font-family: 'Secular One', sans-serif;
            font-size: 35px;
            text-align: center;
        }
        p {
            font-family: 'Varela Round', sans-serif;   
            text-align: center;
            margin-top: 24px;
            a {
                color: $dark-pink;
            }
        }
    }

    // GALLERY
    .st-gallery-grid {
        margin: 0;
        padding: 0;
        .st-row {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            .st-col {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: stretch;
                img {
                    display: block;
                    padding: 8px;
                }

                // ***** variants of columns
                &.st-col-middle {
                    width: calc(40% + 16px);
                    .st-row {
                        .st-col {
                            justify-content: center;
                        }
                        .st-lg-up {
                            width: 66.6%;
                        }
                        .st-sm-up {
                            width: 33.3%;
                        }
                        .st-sm-down {
                            width: 33.3%;
                        }
                        .st-lg-down {
                            width: 66.6%;
                        }
                    }
                }
                &.st-col-inner {
                    width: 20%;
                }
                &.st-col-out {
                    width: calc(10% - 8px);
                    &:first-child {
                        img {
                            padding-left: 0;
                        }
                    }
                    &.st-no-pd-right {
                        img {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }

    // REFERENCES {
    .st-pre-footer {
        margin: 70px 0 40px;
        .st-gallery-row {
            margin: 0;
            &:first-child {
                @media screen and (min-width: $xlargeup) {
                    margin-bottom: 60px;
                }
            }
            .st-gallery-column {
                @media screen and (max-width: $xlargedown) { 
                    margin-bottom: 25px;
                }
                h2 {
                    --min-font-px: 15px;
                    --min-font: 15;
                    --max-font: 18;
                    color: $linkColor;
                    font-weight: 700;

                }

                ul {
                    list-style-type: none;
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0;
                    padding: 0;
                    li {
                        width: 80px;
                        height: 80px;
                        background-color: $white-two;
                        margin-right: 20px;
                        margin-top: 24px;
                        @media screen and (min-width: $xlargeup) {
                            width: 100px;
                            height: 100px;
                        }
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }

                &.st-catering {
                    @media screen and (min-width: $xlargeup) {
                        display: flex;
                        flex-wrap: wrap;
                    }
                    p {
                        margin-bottom: 10px;
                        @media screen and (max-width: $xlargedown) {
                            margin-top: 24px;
                        }
                    }
                    a {
                        @extend %mainBtn;
                        @media screen and (min-width: $xlargeup) {
                            align-self: flex-end;
                        }
                    }
                }
            }
        }
    }
}

/********* FOOTER *********/
footer {
    background-color: $light-pink;
    padding-top: 70px;
    position: relative;
    @media screen and (min-width: $xlargeup) {
        &:before {
            content: "";
            background-image: url("../images/footer-lign-left.png");
            background-repeat: no-repeat;
            bottom: 0;
            left: 0;
            position: absolute;
            height: 171px;
            width: 141px;
        }
        &:after {
            content: "";
            background-image: url("../images/footer-lign-right.png");
            background-repeat: no-repeat;
            bottom: 0;
            right: 0;
            position: absolute;
            height: 96px;
            width: 374px;
            transform: translateX(-180px);
        }
    }
    @media screen and (min-width: 1440px) {
        &:after {
            transform: translateX(-260px);
        }
    }
    .st-footer-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-line-pack: justify;
        align-content: space-between;
        min-height: 275px;
        .st-footer-row {
            justify-content: space-between;
            @media screen and (min-width: $xlargeup) {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
            .st-col {
                a {
                    img {

                    }
                    &.st-site-logo {
                        margin-bottom: 15px;
                        display: block;
                        img {
                            width: 176px;
                            display: block;
                        }
                    }
                }

                // footer description
                .st-footer-description {
                    font-size: 14px;
                }
                // footer socials
                .st-socials{
                    margin: 24px 0 0;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    -ms-flex-flow: row wrap;
                    flex-flow: row wrap;
                    a {
                        &:not(:last-of-type) {
                            margin-right: 12px;
                        }
                        img {
                            display: block;
                            width: 25px;
                            border-radius: 3px;
                        }
                    }
                }
                // footer menus
                ul {
                    padding-left: 0;
                    list-style-type: none;
                    li {
                        @media screen and (max-width: $smalldown) {
                            padding: 0 8px;
                        }
                        a {
                            display: block;
                            color: $linkColor;
                            text-transform: uppercase;
                            font-size: 15px;
                            font-family: 'Secular One', sans-serif;
                            text-decoration: none;
                            padding: 0 0 8px;
                        }
                    }
                    &.st-footer-nav,
                    &.st-footer-qa {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                        -ms-flex-flow: row wrap;
                        flex-flow: row wrap;
                        margin: 20px -8px 0;
                        @media screen and (min-width: $smallup) {
                            margin: 0;
                            flex-direction: column;
                        }
                    }
                    &.st-footer-nav {

                    }
                    &.st-footer-qa {
                        li {
                            a {
                                font-family: 'Varela Round', sans-serif;  
                                text-transform: capitalize;
                            }
                        }
                    }
                }
                // apply for job
                &.st-work-apply {
                    span {
                        display: block;
                        font-size: 14px;
                        color: $dark-pink;
                        margin-bottom: 16px;
                        font-family: 'Varela Round', sans-serif; 
                    }
                    a {
                        @extend %mainBtn;
                    }
                }
            }
            
        }
        .st-footer-bottom {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin: 0 -8px 25px;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            margin-top: 20px;
            @media screen and (min-width: $smallup) {
                margin-top: 70px;
            }
            .st-copy-column {
                padding: 0 8px;
                span {
                    font-size: 12px;
                    color: $copyrights;
                    display: block;
                    a {
                       color: $dark-pink; 
                    }
                }
            }
        }
    }
    .st-donat {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        
        @media screen and (max-width: 1439px) {
            width: 240px;
        }
    }
}